<!DOCTYPE html>
<html>
  <head>
    <title>FriendProfile</title>
    <% include bootstrapcss %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <style type="text/css">
    .blur {
      pointer-events: none;
      opacity: 0.3;
    }
      .nav-tabs {
        border: none;
      }
      .twitter-profile img.fb-image-lg{
        z-index: 0;
        width: 100%;
        margin-bottom: 10px;
        height: 30vh;
      }
      .twitter-image-profile
      {
        margin: -90px 10px 20px 80px;
        z-index: 9;
        width: 20%;
      }


/*------------------------MEDIA QUERY---------------------------*/
      @media (max-width:768px){

        .twitter-profile-text>h1{
          font-weight: 700;
          font-size:16px;
        }
        .twitter-image-profile{
          margin: -45px 10px 0px 25px;
          z-index: 9;
          width: 20%;
        }

      }
    </style>
  </head>
  <body>
    <div class="row" >
      <% include home-header %>
    </div>
    <div class="container-fluid" id="main" style="width: 90%">
      <div class="row">
      <div class="com-xs-12">
        <div class="twitter-profile">
          <img align="left" class="fb-image-lg" src="images/cover.jpg"/>
          <img align="left" class="twitter-image-profile img-thumbnail"
                src="<%= imgpath %>" alt="Profile image example"/>
          <ul class="nav nav-tabs">
            <li class="active2 tweets" id="<%= user.username %>" onclick="showTweets(this.id)">
              <a href="#tab_default_3" id="tweets" data-toggle="tab">
                Tweets
                <p id="tweetsCount" style="text-align: center;">
                  <%= user.tweetcount %>
                </p>
              </a>
            </li>
            <li class="following" id="<%= user.username %>" onclick="showFollowing(this.id)">
              <a href="#tab_default_1" id="following" data-toggle="tab">
              Following
              <p id="followingCount" style="text-align: center;">
                <%= user.followingcount %>
              </p>
            </a>
            </li>
            <li class="followers" id="<%= user.username %>" onclick="showFollowers(this.id)">
              <a href="#tab_default_2" id="followers" data-toggle="tab">
                Followers
                <p id="followersCount" style="text-align: center;">
                  <%= user.followercount %>
                </p>
              </a>
            </li>
            <li class="followUnfollow" style="float: right;" id="followUnfollow">
                <button class="btn btn-primary" onclick="test(this);" id="<%= user.username %>" value="<%= user.username %>"><%= user.status %></button>
            </li>
          </ul>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="margin: 0;padding: 0">
          <div class="row" id="userInfo">
            <div class="col-xs-12" >
              <div class="panel panel-info hidden-sm hidden-xs">
                <div class="panel-body">
                  <h4 style="text-align: center;">
                    <span class="glyphicon glyphicon-user"></span>
                    <b><%= user.name %></b>
                  </h4>
                  <p style="text-align: center;">
                    <span class="glyphicon glyphicon-envelope"></span>
                    <%= user.email %>
                  </p>
                  <p style="text-align: center;">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <%= birthdate %>
                  </p>
                  <p style="text-align: center;">
                    <span class="glyphicon glyphicon-briefcase"></span>
                    <%= user.bio %>
                  </p>
                  <p style="text-align: center;">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <%= user.location %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row showresult" id="result"></div>
        </div>
      </div>
    </div>

    <% include bootstrapjs %>
    <script type="text/javascript" src="javascript/onready.js"></script>
    <script type="text/javascript" src="javascript/searchuser.js"></script>
    <script type="text/javascript" src="javascript/tweet.js"></script>
    <script type="text/javascript" src="javascript/like.js"></script>
    <script type="text/javascript" src="javascript/fixheader.js"></script>
    <script type="text/javascript" src="javascript/followunfollow.js"></script>
    <script type="text/javascript" src="javascript/friend_profile.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#tweets').trigger('click');
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
      var socket = io('http://localhost:8080/');
      socket.on('like', function (data) {
        document.getElementById(data.tweetId+'count').innerHTML = data.likeCount;
      });
      socket.emit('my other event', { my: 'kishan' }, function (data) {
        console.log(data,"ack");});
    </script>
  </body>
</html>
