<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
      .user-row {
      margin-bottom: 14px;
      }
      .user-row:last-child {
          margin-bottom: 0;
      }
      .dropdown-user {
          margin: 13px 0;
          padding: 5px;
          height: 100%;
      }
      .dropdown-user:hover {
          cursor: pointer;
      }
      .table-user-information > tbody > tr {
          border-top: 1px solid rgb(221, 221, 221);
      }
      .table-user-information > tbody > tr:first-child {
          border-top: 0;
      }
      .table-user-information > tbody > tr > td {
          border-top: 0;
      }
      .toppad
      {
        margin-top:20px;
      }
    </style>
  </head>
  <body>
    <% include home-header %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Profile</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="ProfilePicture" src=<%= imgpath %> class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td><%= name %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><%= email %></td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td><%= birthdate %></td>
                      </tr>
                      <tr>
                        <tr>
                          <td>Bio</td>
                          <td><%= bio %></td>
                        </tr>
                        <tr>
                          <td>Location</td>
                          <td><%= location %></td>
                        </tr>
                        <tr>
                          <td>Followers</td>
                          <td><%= followers %></td>
                        </tr>
                        <tr>
                          <td>Followings</td>
                          <td><%= folowings %></td>
                        </tr>
                        <tr id="button">
                          <button class="btn btn-primary" id="follow_unfollow" value="<%= username %>"><%= status %></button>
                        </tr>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $("#follow_unfollow").click(function(){
        if(document.getElementById("follow_unfollow").innerHTML == "Follow"){
          var username = document.getElementById("follow_unfollow").value;
          $.ajax({
            url: '/follow',
            type: 'post',
            data: { un : username, status : true},
            success: function( data, textStatus, jQxhr ){
               document.getElementById("follow_unfollow").innerHTML = data;
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
          });
        }
        else {
          var username = document.getElementById("follow_unfollow").value;
          $.ajax({
            url: '/follow',
            type: 'post',
            data: { un : username, status : false },
            success: function( data, textStatus, jQxhr ){
              document.getElementById("follow_unfollow").innerHTML = data;
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
          });
        }
        });
    </script>
  </body>
</html>
