<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<% include bootstrapcss %>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	<body class="container" style="width: 100%;margin:0;">
		<div class="row" >
			<% include home-header %>
		</div>
		<div class="container-fluid" id="main" style="width: 90%">
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs" style="background-color: #ffffff">
					<div class="row">
						<div class="col-md-12">
							<img alt="coverPicture" src=<%= coverImage %>
							class="img-responsive" style="height:25vh;width:100%;position:relative;bottom:100px;top:0px;"/>
						</div>
						<div class="col-md-5" align="center">
							<img alt="ProfilePicture" src=<%= imgpath %>
							class="img-circle img-responsive" style="position:relative;bottom:50px;"/>
						</div>
						<div class="col-md-7" style="text-align: center;"><br>
							<b style="font-size: 18px;"><%=name%></b>
							<p style="color: #657786"><%= username %></p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<table class="table borderless" align="center">
							<tr>
								<th>Tweets</th>
								<th>Followers</th>
								<th>Following</th>
							</tr>
							<tr>
								<td><a href="/showprofile"><%=tweetcount%></a></td>
								<td><a href="/showprofile"><%=followers%></a></td>
								<td><a href="/showprofile"><%=folowings%></a></td>
							</tr>
						</table>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="row">
						<div class="col-md-12" style="margin-bottom: 10px">
							<form class="uploadImage" id="tweetform" enctype="multipart/form-data" action="/insertfeed" method="post" onsubmit="return tweetValidation()">
								<div class="form-group" id="tweetbox" style="padding: 5px;margin: 0">
									<input type="text" class="form-control" id="tweet" name="tweet" placeholder="What's happening?">
									<label style="float: right;" class="btn btn-default btn-file">
										<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
										<input type="file" id="imageTweet" name="imageTweet" style="display: none;">
									</label>
									<br>
									<button type="submit" form="tweetform" style="float: right;" class="btn btn-primary" id="tweetbutton">Tweet</button>
								</div>
							</form>
						</div>
					</div>
					<div>
						<% if(tweets !==	 null){ for( var i=0; i < tweets.length; i++) {%>
								<div style="padding: 0 15px;">
									<div class="row"
												style="padding: 10px 0;background-color: #ffffff;">
										<div class="col-xs-2" align="center" style="align-self: center;">
											<img class="img-thumbnail" alt="ProfilePicture"
													src="<%= tweets[i].path %>"
													style="width: 50px;height: 50px;">
										</div>
										<div class="col-xs-10" style="">
											<span><a
												style="color: black;font-size: 14px;"
												href='/showFriendProfile?un=<%= tweets[i].username %>'>
												<b><%= tweets[i].name %></b>
												<span style="color: #657786">@<%= tweets[i].username %></span></a>
												<span style="color: #657786">@<%= tweets[i].timeDifference %></span></a>
											</span>
											<p style="word-break: break-all;"><%= tweets[i].tweet %></p>
											<% if ( tweets[i].imageURL) { %>
												<img class="img-responsive" width="100%" src="<%= tweets[i].imageURL %>"><br>
													<% } %>
											<div id="likebuttondiv">
											<button class="btn btn-default btn-sm like" onclick="like(this)" id="<%= tweets[i]._id %>"
											 value="<%= tweets[i].likestatus %>">
												<span id="likestatus"><%= tweets[i].likestatus %></span>
											</button>
											<span id="<%= tweets[i]._id %>count"><%= tweets[i].likeCount %></span>
											</div>
										</div>
									</div>
								</div><hr style="margin: 0"><hr style="margin: 0">
							<%}
						 }%>
					</div>
				</div>
				<div class="col-md-3 hidden-sm hidden-xs" style="background-color:#f6f6f9;"></div>
			</div>
		</div>
		<% include bootstrapjs %>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
		<script>
			var socket = io('http://localhost:8080/');
			socket.on('like', function (data) {
				document.getElementById(data.tweetId+'count').innerHTML = data.likeCount;
			});
		</script>
		<script type="text/javascript" src="javascript/tweet.js"></script>
		<script type="text/javascript" src="javascript/searchuser.js"></script>
		<script type="text/javascript" src="javascript/like.js"></script>
		<script type="text/javascript" src="javascript/onready.js"></script>
		<script type="text/javascript" src="javascript/fixheader.js"></script>
	</body>
</html>
