<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <style type="text/css">
      nav select{
        -webkit-appearance: none;
        appearance: none;
      }
      table.table{
        text-align: center;
      }
      .borderless td, .borderless th, .borderless tr{
        border: none;
      }
      button.follow{
        background-color: transparent;
      }
      a.follow{
        text-decoration: none;
      }
      a:hover.follow{
        color: white;
      }
      ul#showuser{
        position: fixed;
        top: 43px;
        right: 233px;
        z-index: 1;
      }
    </style>
  </head>
  <body>
    <% include home-header %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-md-3" style="background-color:lavender;">
          <div class="col-lg-12" align="center"> <img alt="ProfilePicture" src=<%= imgpath %> class="img-circle img-responsive"/> </div>
          <div class="row">
            <div class="col-md-12">
              <h3 style="text-align: center;"><%=name%></h3>
              <!-- <h4 style="text-align: center;"><%= username%></h4> -->
            </div>
            <div class="col-lg-4">
              <h3 style="text-align: center;"><a href=""></a></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <table class="table borderless table" align="center">
              <tr>
                <th>Tweets</th>
                <th>Followers</th>
                <th>Following</th>
              </tr>
              <tr>
                <td>21</td>
                <td><%=followers%></td>
                <td><%=folowings%></td>
              </tr>
            </table>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-6">
          <div class="row">
            <!-- <div id="tweetbox"> -->
              <div class="col-md-12">
                <div class="form-group" id="tweetbox" style="background-color: #e8f5fd;padding: 5px;margin: 0">
                  <input type="text" class="form-control" id="tweet" placeholder="What's happening?" >
                  <!-- <p style="visibility:hidden;height:5px;" id="space">space</p> --><br>
                  <button class="btn btn-primary" id="tweetbutton" onclick="click()">Tweet</button>
                </div>
              </div>
              <div>
                <p><%= tweets %></p>
                <ul>
                  <% for ( var i = 0 ; i < tweets.length ; i++ ) { %>
                   <li>
                      <%= tweets.Tweet %>
                   </li>
                  <% } %>
                </ul>
              </div>
            <!-- </div> -->
          </div>
        </div>
        <div class="col-xs-6 col-md-3" style="background-color:lavender;">.col-sm-4</div>
      </div>
    </div>
    <!-- <p id="searchresult"></p> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        document.getElementById("showuser").style.display = "none";
        $("#search").click(function(){
          $(this).css('border', '2px solid #4AB3F4');;
        });
        $("p").hover(function(){
          $(this).css("background-color", "yellow");
          }, function(){
          $(this).css("background-color", "pink");
        });
      });
        $("#searchuser").keyup( function(){
          //alert(document.getElementById("searchuser").value);
          var keywords = document.getElementById("searchuser").value;

          $.ajax({method: "GET",
            url : "http://localhost:8080/search?keyword="+keywords,
            success: function(result){
              //console.log("result----------->",result);
              document.getElementById("showuser").style.display = "inline-block";
              document.getElementById("showuser").innerHTML = result;
          }});

          $('#searchuser').on('keyup keypress', function(e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
              e.preventDefault();
              return false;
            }
          });
        });

        $("#tweetbutton").click(function(){
          Tweet = document.getElementById("tweet").value;
          $.ajax({
            url: '/insertfeed',
            type: 'post',
            data: { tweet : Tweet },
            success: function( data, textStatus, jQxhr ){
              // document.getElementById("follow_unfollow").innerHTML = data;
              console.log("data---",data);
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
          });
        });

        // $( "#tweet" ).focus(function() {
        //   // alert( "focus" );
        //   // alert();
        //   $("#tweet").addClass("input-lg");
        //   if(document.getElementById("tweetbutton") == null) {
        //     $('#tweet').after('<p style="visibility:hidden;height:5px;" id="space">space</p>');
        //     $("#space").after($('<button class="btn btn-primary" id="tweetbutton" onclick="click()">Tweet</button>'));
        //   }
        // });
        // $("#tweet").blur(function(){
        //   // alert("blur");
        //   // alert();
        //   if(document.getElementById("tweet").value == "") {
        //     $("#tweet").removeClass("input-lg");
        //     $( "#space" ).remove();
        //     $( "#tweetbutton" ).remove();
        //   }
        //   else{

        //   }
        // });


        function click() {
          // body...
          alert("click");
        }


    </script>
  </body>
</html>
