<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <style type="text/css">
      nav select{
        -webkit-appearance: none;
        appearance: none;
      }
      table.table{
        text-align: center;
      }
      .borderless td, .borderless th, .borderless tr{
        border: none;
      }
      button.follow{
        background-color: transparent;
      }
      a.follow{
        text-decoration: none;
      }
      a:hover.follow{
        color: white;
      }
      ul#showuser{
        position: fixed;
        top: 43px;
        right: 233px;
        z-index: 1;
      }
    </style>
  </head>
  <body>
    <% include home-header %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-md-3" style="background-color:lavender;">
          <div class="col-lg-12" align="center"> <img alt="ProfilePicture" src=<%= imgpath %> class="img-circle img-responsive"/> </div>
          <div class="row">
            <div class="col-md-12">
              <h3 style="text-align: center;"><%=name%></h3>
              <!-- <h4 style="text-align: center;"><%= username%></h4> -->
            </div>
            <div class="col-lg-4">
              <h3 style="text-align: center;"><a href=""></a></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <table class="table borderless table" align="center">
              <tr>
                <th>Tweets</th>
                <th>Followers</th>
                <th>Following</th>
              </tr>
              <tr>
                <td>21</td>
                <td><%=followers%></td>
                <td><%=folowings%></td>
              </tr>
            </table>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-6" style="background-color:lavenderblush;">.col-sm-4</div>
        <div class="col-xs-6 col-md-3" style="background-color:lavender;">.col-sm-4</div>
      </div>
    </div>
    <!-- <p id="searchresult"></p> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        document.getElementById("showuser").style.display = "none";
        $("#search").click(function(){
          $(this).css('border', '2px solid #4AB3F4');;
        });
        $("p").hover(function(){
          $(this).css("background-color", "yellow");
          }, function(){
          $(this).css("background-color", "pink");
        });
      });
    </script>
    <script>
        $("#searchuser").keyup( function(){
          //alert(document.getElementById("searchuser").value);
          var keywords = document.getElementById("searchuser").value;

          $.ajax({method: "GET",
            url : "http://localhost:8080/search?keyword="+keywords,
            success: function(result){
              //console.log("result----------->",result);
              document.getElementById("showuser").style.display = "inline-block";
              document.getElementById("showuser").innerHTML = result;
          }});

          $('#searchuser').on('keyup keypress', function(e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
              e.preventDefault();
              return false;
            }
          });
        });
    </script>
  </body>
</html>
