<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
		<% include bootstrapcss %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<style type="text/css">
		.blur {
			pointer-events: none;
			opacity: 0.3;
		}
			.nav-tabs {
				border: none;
			}
			.twitter-profile img.fb-image-lg{
				z-index: 0;
				width: 100%;
				margin-bottom: 10px;
				height: 40vh;
			}
			.twitter-image-profile
			{
				margin: -90px 10px 20px 80px;
				z-index: 9;
				width: 20%;
			}


/*------------------------MEDIA QUERY---------------------------*/
			@media (max-width:768px){

				.twitter-profile-text>h1{
					font-weight: 700;
					font-size:16px;
				}
				.twitter-image-profile{
					margin: -45px 10px 0px 25px;
					z-index: 9;
					width: 20%;
				}

			}
		</style>
	</head>
	<body>
		<div class="row" >
			<% include home-header %>
		</div>
		<div class="container-fluid" id="main" style="width: 90%">
			<div class="row">
			<div class="com-xs-12">
				<div class="twitter-profile">
					<div class="coverImageDiv" style="z-index: -1;position: relative">
						<img align="left" class="fb-image-lg" src="<%= user.coverImage %>"/>
						<!-- <form style="position: absolute;top: 0;right: 0" method="post"
									action="/updateCoverImage" enctype="multipart/form-data" id="coverImageForm">
							<label style="float: right;" class="btn btn-default btn-file">
								<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
								<input type="file" id="coverImage" name="coverImage" style="display: none;">
							</label>
						</form> -->
					</div>
					<img align="left" class="twitter-image-profile img-thumbnail"
					style="height: 243px;width: 243px"
								src="<%= user.imgpath %>" alt="Profile image example"/>
					<ul class="nav nav-tabs">
						<li class="active2 tweets">
							<a href="#tab_default_3" id="tweets" data-toggle="tab">
								Tweets
								<p id="mytweetsCount" style="text-align: center;">
									<%= user.tweetcount %>
								</p>
							</a>
						</li>
						<li class="following">
							<a href="#tab_default_1" id="following" data-toggle="tab">
							Following
							<p id="myfollowingCount" style="text-align: center;">
								<%= user.followingcount %>
							</p>
						</a>
						</li>
						<li class="followers">
							<a href="#tab_default_2" id="followers" data-toggle="tab">
								Followers
								<p id="myfollowersCount" style="text-align: center;">
									<%= user.followercount %>
								</p>
							</a>
						</li>
						<li class="coverImageForm" style="float: right;">
							<form method="post"
									action="/updateCoverImage" enctype="multipart/form-data" id="coverImageForm">
								<label style="float: right;" class="btn btn-default btn-file">
									<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
									<input type="file" id="coverImage" name="coverImage" style="display: none;">
								</label>
							</form>
						</li>
						<li class="editProfile" style="float: right;" id="editProfile">
							<a href="" data-toggle="tab" onclick="editProfile();">
								Edit Profile
								<p> </p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			</div>
			<div class="row">
				<div class="col-md-3" style="margin: 0;padding: 0">
					<div class="row" id="userInfo">
						<div class="col-xs-12" >
							<div class="panel panel-info hidden-sm hidden-xs">
								<div class="panel-body">
									<h4 style="text-align: center;">
										<span class="glyphicon glyphicon-user"></span>
										<b><%= name %></b>
									</h4>
									<p style="text-align: center;">
										<span class="glyphicon glyphicon-envelope"></span>
										<%= email %>
									</p>
									<% if ( birthdate != 'NaN-NaN-NaN' ) { %>
				          <p style="text-align: center;">
										<span class="glyphicon glyphicon-calendar"></span>
										<%= birthdate %>
									</p>
				            <%
				          } %>
									<% if ( typeof bio != 'undefined' ) { %>
				          <p style="text-align: center;">
										<span class="glyphicon glyphicon-briefcase"></span>
										<%= bio %>
									</p>
				            <%
				          } %>
				          <% if ( typeof location != 'undefined' ) { %>
				          <p style="text-align: center;">
										<span class="glyphicon glyphicon-map-marker"></span>
										<%= location %>
									</p>
				            <%
				          } %>
								</div>
							</div>
							<form id="editProfileForm" class="form-horizontal" role="form" action="/editprofile"
													method="post" enctype="multipart/form-data"
													onsubmit="return validateForm()">
								<div class="form-group">
									<div class="col-xs-10">
										<input type="file" class="form-control" onchange="fileValidation()" placeholder="profilepicture" id="profilepicture"
										 name="profilepicture">
									</div>
								</div>
								<p id="fileerror" style="color: red"></p>
								<div class="form-group">
									<div class="col-xs-10">
										<input class="form-control" type="text" placeholder="Name" name="name"
										onchange="return validateName()" id="name" value="<%= name %>">
									</div><br>
								</div>
								<p id="nameerror" style="color: red"></p>
								<div class="form-group">
									<div class="col-xs-10">
										<input class="form-control" type="text" placeholder="Bio" name="bio"
										onchange="return validateBio()" id="bio" value="<%= bio %>">
									</div><br>
								</div>
								<p id="bioerror" style="color: red"></p>
								<div class="form-group">
									<div class="col-xs-10">
										<input class="form-control" type="email" placeholder="Email" name="email"
										onchange="return validateEmail()" id="email" value="<%= email %>">
									</div><br>
								</div>
                <p id="emailerror" style="color: red"></p>
								<div class="form-group">
									<div class="col-xs-10">
										<input class="form-control" type="" placeholder="Location" name="location"
										onchange="return validateLocation()" id="location" value="<%= location %>">
									</div><br>
								</div>
								<p id="locationerror" style="color: red"></p>
								<div class="form-group">
									<div class="col-xs-10">
										<input class="form-control" type="date" id="date" name="dob"
										onchange="return validateBirthdate()" value="<%= birthdate %>">
									</div><br>
								</div>
								<div class="form-group">
									<div class="col-xs-10">
										<input type="submit" class="btn btn-primary" value="Save Changes">
										<span></span>
										<input type="reset" class="btn btn-default" value="Cancel" onclick="cancel();">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="row showresult" id="result"></div>
				</div>
			</div>
		</div>

		<% include bootstrapjs %>
		<script type="text/javascript" src="javascript/onready.js"></script>
		<script type="text/javascript" src="javascript/searchuser.js"></script>
		<script type="text/javascript" src="javascript/tweet.js"></script>
		<script type="text/javascript" src="javascript/like.js"></script>
		<script type="text/javascript" src="javascript/fixheader.js"></script>
		<script type="text/javascript" src="javascript/showfollowersfollowing.js"></script>
		<script type="text/javascript" src="javascript/followunfollow.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#editProfileForm").hide();
				$(".panel-info").show();
				$("#editProfileForm").focus();
				$('#tweets').trigger('click');
				document.getElementById("coverImage").onchange = function() {
				    document.getElementById("coverImageForm").submit();
				};
			});
			function editProfile() {
				$("#editProfileForm").show();
				$(".panel-info").hide();
				$( ".twitter-profile" ).blur();
				$("#editProfileForm").focus();
				$( "#editProfileForm" ).css( "opacity", "1" );
			}
			function cancel() {
				$("#editProfileForm")[0].reset();
				$("#editProfileForm").hide();
				$(".panel-info").show();
				$( "#main" ).css( "opacity", "1" );
			}
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
		<script>
			var socket = io('http://localhost:8080/');
			socket.on('like', function (data) {
				document.getElementById(data.tweetId+'count').innerHTML = data.likeCount;
			});
			socket.emit('my other event', { my: 'kishan' }, function (data) {
				console.log(data,"ack");});
		</script>
		<script type="text/javascript">
      function validateForm(){
        if(validateName() && validateEmail() && validateBio() && validateLocation() && fileValidation()){
          return true;
        }
        else{
          return false;
        }
      }
      function validateName(){
        var first = document.getElementById('name').value;
        var letter = /^[a-zA-Z\s]+$/;
        if(!first.match(letter)){
          document.getElementById('nameerror').innerHTML = "Only letters allowed";
          document.getElementById('name').focus();
          return false;
        }
        else{
          document.getElementById('nameerror').innerHTML = "";
          return true;
        }
      }
      function validateEmail(){
        var first = document.getElementById('email').value;
        var emailexp = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if(!first.match(emailexp)){
          document.getElementById('emailerror').innerHTML = "Invalid Email";
          document.getElementById('email').focus();
          return false;
        }
        else{
          document.getElementById('emailerror').innerHTML = "";
          return true;
        }
      }
      function fileValidation(){
      	var allowedExtension = ['jpg', 'png', 'jpeg', 'gif'];
        var first = document.getElementById('profilepicture').value;
        var lastDotIndex = first.lastIndexOf('.');
        var extension = first.substr(lastDotIndex+1).toLowerCase();
        if (allowedExtension.includes(extension)) {
        	document.getElementById('fileerror').innerHTML = "";
          return true;
        }
        else {
        	document.getElementById('fileerror').innerHTML = "Only jpg/jpeg/png are valid";
          document.getElementById('profilepicture').focus();
          return false;
        }
      }
      function validateBio(){
        var first = document.getElementById('bio').value;
        var emailexp = /^[a-zA-Z0-9!@#\$%\^\&*\s]+$/;
        if(!first.match(emailexp)){
          document.getElementById('bioerror').innerHTML = "Invalid Bio";
          document.getElementById('bio').focus();
          return false;
        }
        else{
          document.getElementById('bioerror').innerHTML = "";
          return true;
        }
      }
      function validateLocation(){
        var first = document.getElementById('location').value;
        var emailexp = /^[a-zA-Z0-9!@#\$%\^\&*\s]+$/;
        if(!first.match(emailexp)){
          document.getElementById('locationerror').innerHTML = "Invalid Location";
          document.getElementById('location').focus();
          return false;
        }
        else{
          document.getElementById('locationerror').innerHTML = "";
          return true;
        }
      }
    </script>
    <% if ( typeof error != 'undefined' ) { %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <p><%= error %></p>
    </div>
      <%
    } %>
	</body>
</html>
